$font-family: cursive;
body {
font-size: 4vw;
h2 {
    
    font-family: $font-family;
    color: brown;
}
ul {
    color: rgb(255, 0, 212);
    font-family: $font-family;
    margin-left: 50px;
}


}